<ul>
    <% products.forEach((product) => { %>
        <li>
        <%= product.name %> - $<%= product.price %>
        <img src="<%= product.imageUrl %>" width=100/>
        <a href="/detail/<%= product._id %>">View Details</a>
        <a href="/detail/<%= product._id %>/edit">Edit Product</a>
        <a href="/delete/<%= product._id %>">Delete Product</a>
        </li>
    <%  }) %>
</ul>

<a href="/new">Crea un nuevo producto</a>